@font-face {
	font-family: commo;
	font-style: normal;
	font-weight: normal;
	src: url("commo.ttf") format("truetype");
}

body {
	font-family: sans-serif;
	text-align: center;
	background-color: white;
}

ol#rules {
	text-align: left;
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 1em;
	padding-bottom: 1em;
}

ol#rules li {
	line-height: 150%;
}

a {
	font-weight: bold;
	color: black;
}

canvas {
	cursor: not-allowed;
	max-width: 100%;
}

button,
select,
input {
	font-size: 120%;
}

footer {
	clear: both;
	padding-top: 10em;
	font-size: 80%;
	text-align: center;
}

#score {
	margin: auto;
	font-size: 150%;
}

#setup>div {
	position: relative;
	width: 60%;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	margin: 1em 0;
}

#setup #local {
	margin-left: 20%;
	border-color: rgb(250, 150, 150);
	background-color: rgba(250, 150, 150, 0.5);
}
